In [3]:
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("country_codes.csv")

In [4]:
df

                  Name Code
0          Afghanistan   AF
1       Ã…land Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [5]:
df2 = pd.read_csv("top_players_stats_country_code.csv")

In [ ]:
df2['code']=0

In [ ]:
for i in range(len(df2)):
    for x in range(len(df1)):
        if df2['countries'][i]==df1['name'][x]:
            df2['code'][i]=df1['code'][x]
        elif df2['countries'][i]=='England':
            df2['code'][i]='GB'

In [6]:
df2["p_per_gc"]=0

In [9]:
for i in range(len(df2)):
    gc=df2['goals'][i]+df2['assists'][i]
    p = ''.join(x for x in df2['prices'][i] if x.isdigit())
    
    p_per_gc=float(p)/gc
    df2["p_per_gc"][i] = p_per_gc

C:\Users\Galbadral\AppData\Local\Temp\ipykernel_12568\1517358527.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2["p_per_gc"][i] = p_per_gc
C:\Users\Galbadral\AppData\Local\Temp\ipykernel_12568\1517358527.py:5: RuntimeWarning: divide by zero encountered in divide
  p_per_gc=float(p)/gc