In [1]:
import numpy as np
import pandas as pd

In [25]:
df = pd.read_csv("country_codes.csv")

In [26]:
df

                  Name Code
0          Afghanistan   AF
1       Ã…land Islands   AX
2              Albania   AL
3              Algeria   DZ
4       American Samoa   AS
..                 ...  ...
244  Wallis and Futuna   WF
245     Western Sahara   EH
246              Yemen   YE
247             Zambia   ZM
248           Zimbabwe   ZW

[249 rows x 2 columns]

In [27]:
df2 = pd.read_csv("top_players_stats.csv")

In [28]:
df2['code'] = 0

In [29]:
for i in range(len(df2)):
    for x in range(len(df)):
        if df2['countries'][i]==df['Name'][x]:
            df2['code'][i]= df['Code'][x]
        elif df2['countries'][i]=='England':
            df2['code'][i]= 'GB'

C:\Users\Galbadral\AppData\Local\Temp\ipykernel_6616\4270535798.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['code'][i]= df['Code'][x]

In [30]:
df2['code'].value_counts()

GB    66
FR    62
BR    44
ES    41
PT    32
IT    26
DE    25
0     23
NL    19
AR    18
BE    14
HR     9
AT     8
CH     8
NG     8
DK     7
UY     7
RS     6
US     5
CO     5
SN     5
TR     5
DZ     4
GH     4
MA     3
UA     3
ML     3
SE     3
PL     3
EC     3
JP     2
MX     2
NO     2
CM     2
SI     2
CZ     2
SK     2
GE     2
CA     2
IE     1
IL     1
CF     1
PY     1
GN     1
ZM     1
EG     1
MZ     1
JM     1
HU     1
BF     1
AL     1
GR     1
Name: code, dtype: int64

In [31]:
df2.to_csv('top_players_stats_country_code.csv', index=False)